#gridbox
{    
    height: 100vh;
    width: 100vw;    
    background: #DDDDDD;
}

#canvasBox
{    
    height: 75vh;
    width: 50vw ;
    background: #FFFFFF;   
}

#labelBox
{
    position:absolute;
    top: 0vh;
    left: 51vw;
}

#pointBox
{
    position:absolute;
    top: 50vh;
    left: 51vw;
}

#modeTextBox
{

    position:absolute;
    top:15vh;
    left:51vw;
}

#inputBox
{

    position:absolute;
    top:20vh;
    left:51vw;
}

#sliderBox
{
    position:absolute;
    top: 20vh;
    left:56vw;
}

#buttonBox
{
    position:absolute;
    top: 35vh;
    left: 51vw;
}
